.section__form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__form {
        grid-template-columns: 1fr;
    };
}

.section__input {
    padding: 10px;
    border: 1px solid rgb(236, 234, 234);
}

.section__button {
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    transition: 0.5s;
}

.section__button:hover {
    background-color: rgb(0, 146, 146);
    transform: scale(1.1);
}

.section__button:active {
    background-color: rgb(0, 165, 165);
}
