.section__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section__listItem {
    border-bottom: 1px solid rgb(236, 234, 234);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    
}

.section__listItem--done {
    text-decoration: line-through;
}

.section__buttonDone {
    background-color: green;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    padding: 0;
    transition: 0.5s;
}

.section__buttonDone:hover {
    background-color: rgb(1, 150, 1);
    transform: scale(1.2);
}

.section__buttonDone:active {
    background-color: rgb(3, 175, 3);
}

.section__buttonRemove {
    background-color: red;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 0.5s;
}

.section__buttonRemove:hover {
    background-color: rgb(255, 37, 37);
    transform: scale(1.2);
}

.section__buttonRemove:active {
    background-color: rgb(255, 62, 62);
}

.section__listItem--hidden {
    display: none;
}